.child-menu-container {
  width: 100%;
  background-color: white;
  position: relative;
  float: left;
}
.child-menu__wrapper {
  width: 80%;
  margin: 0 auto;
}
.child-menu__wrapper ul {
  display: block;
  list-style-type: none;
}

.child-menu__wrapper li {
  float: left;
}
.child-menu__wrapper a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #1e8fb9 !important;
  padding: 6px 20px;
  text-align: center;
  transition: background-color 0.7s ease;
}
.child-menu__wrapper a:hover {
  background-color: wheat;
  border-bottom: 3px solid #fab325;
  transition: 0.3s ease-in;
}
.child-menu__wrapper a:focus {
  background-color: wheat;
  border-bottom: 3px solid #fab325;
  transition: 0.3s ease-in;
}
.item:hover .dropdown-content {
  display: block;
  top: auto;
  animation: down 0.2s ease-in;
}
@keyframes down {
  0% {
    opacity: 0.5;
  }
  25% {
    top: 18px;
    opacity: 0.7;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 25px;
  }
}
.bottom__child-menu-container {
  width: 100%;
  position: relative;
  float: right;
  background-color: antiquewhite;
}
.section-container {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent url(/images/backgroud/bg_news.jpg) top center
    no-repeat;
}
.header {
}
.header p {
  margin: 0 auto;
  width: 60%;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-top: 0 !important;
  padding-top: 50px !important;
}
.content {
  width: 60%;
  margin: 50px auto;
  font-size: 18px;
  text-align: justify;
}
.content p {
  margin: 0 0 25px;
  /* //font-family: Avo, sans-serif !important; */
  font-weight: 400px;
}
.header p::after {
  margin-top: 10px !important;
  height: 5px;
  display: block;
  width: 155px;
  background: #000;
  border-right: 1px white;
  content: "";
}
.content img {
  width: 100%;
  height: 100%;
}

.content a {
  font-family: AvoBold;
  color: hsl(181deg 99% 34%);
  text-decoration: none;
}
.content ul {
  list-style-type: none;
}
.content ul > li {
  padding: 10px 0px;
  border-bottom: 2px solid hsl(181deg 99% 34%);
}
.content li > p {
  font-family: Lora;
  font-size: 15px;
}

.pagination {
  text-align: center;
  margin: 15px;
}
.pagination ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.pagination a {
  margin: 5px;
  padding: 8px 15px;
  font-size: 15px;
  border: 1px solid hsl(181deg 99% 34%);
  font-family: AvoBold;
}
.pagination a:hover {
  color: white;
  background-color: hsl(181deg 99% 34%);
}
.content-2 ul li {
  margin: 15px 0px;
}
.header--center p{
  font-family: AvoBold;
  text-align: center;
}
.header--center p::after {
  content: "";
  display: flex;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .content {
    width: 90%;
  }
  .header {
    margin: 0 auto;
  }
  .header p {
    width: 90%;
  }
  .header p {
    font-size: 30px;
    letter-spacing: normal;
  }
  .header p::after {
    height: 3px;
  }
}
