.child-menu-container {
  width: 100%;
  background-color: white;
  position: relative;
  float: left;
}

.child-menu__wrapper {
  width: 100%;
  /* margin: 0 auto;   */
}

.child-menu__wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}


.child-menu__wrapper a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #1e8fb9 !important;
  padding: 6px 20px;
  /* text-align: center; */
  transition: background-color 0.7s ease;
}

.child-menu__wrapper a:hover {
  background-color: wheat;
  border-bottom: 3px solid #fab325;
  transition: 0.3s ease-in;
}

.child-menu__wrapper a:focus {
  background-color: wheat;
  border-bottom: 3px solid #fab325;
  transition: 0.3s ease-in;
}

.item {
  position: relative;
}

.child-menu__wrapper li {
  height: 36px;
}

.item>.dropdown-content {
  top: 36px !important;
}

.item:hover .dropdown-content {
  display: block;
  animation: down 0.3s ease-in;
}

@keyframes down {
  0% {
    opacity: 0.5;
  }

  25% {
    top: 35px;
    opacity: 0.7;
  }

  50% {
    top: 37px;
  }

  100% {
    top: 40px;
  }
}

.bottom__child-menu-container {
  width: 100%;
  position: relative;
  float: right;
  background-color: antiquewhite;
}

.section-container {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent url(/images/backgroud/bg_news.jpg) top center no-repeat;
  background-size: cover;
}

.header p {
  margin: 0 auto;
  width: 60%;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-top: 0 !important;
  padding-top: 50px !important;
}

.content {
  width: 70%;
  margin: 50px auto;
  font-size: 18px;
}

.content p {
  margin: 0 0 15px;
  font-weight: 400px;
}

.header p::after {
  margin-top: 10px !important;
  height: 5px;
  display: block;
  width: 155px;
  background: #000;
  border-right: 1px white;
  content: "";
}

.content img {
  width: 100%;
  height: 100%;
}

.content a {
  font-family: AvoBold;
  color: hsl(181deg 99% 34%);
  text-decoration: none;
}

.content ul {
  list-style-type: none;
}

.content ul>li {
  padding: 10px 0px;
  border-bottom: 2px solid hsl(181deg 99% 34%);
}

.content li>p {
  font-family: Lora;
  font-size: 15px;
}

.content a:hover {
  text-decoration: underline;
}

.pagination {
  text-align: center;
  margin: 15px;
}

.pagination ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.pagination a {
  margin: 5px;
  padding: 8px 15px;
  font-size: 15px;
  border: 1px solid hsl(181deg 99% 34%);
  font-family: AvoBold;
}

.pagination a:hover {
  color: white;
  background-color: hsl(181deg 99% 34%);
}
.pagination .active {
  color: white;
  background-color: hsl(181deg 99% 34%);
}
.content-2 ul li {
  margin: 15px 0px;
}

.header--center p {
  font-family: AvoBold;
  text-align: center;
}

.header--center p::after {
  content: "";
  display: flex;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%);
  margin: 0 auto;
}


.content .table--main table {
  border-collapse: collapse;
  width: 100%;
  vertical-align: center;
}

.table--main table,
th,
td {
  border: 1px solid hsl(181deg 99% 34%);
  padding: 8px 15px 3px 15px;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;

}



.table--main table tr:hover  td,
th {
  background-color: gainsboro;


}

.table--main th {
  font-weight: bold;
  background-color: hsl(181deg 99% 34%);
  color: #ffffff;
}

.table--main img {
  width: 30%;
  height: 100%;

}



.table--main {
  width: 100%;
  overflow: auto;
}

/* .content-3 {
  width: 80%;
 
} */
.content-4 p {
  margin: 0;
}

.item {
  display: flex;
}

.date {
  width: 90px;
  text-align: center;
}

.date--large {
  font-size: 65px;
}

.text-content {
  margin: auto;
  padding: 14px;
  font-size: 16px;
}

.text-content a {
  text-align: center;


}

/* content 5 */
.content-5 {
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid gainsboro;
  background-color: rgba(250, 250, 250, 0.582);
  border-radius: 13px;
  -webkit-box-shadow: 7px 3px 5px -4px rgba(117, 109, 117, 1);
  -moz-box-shadow: 7px 3px 5px -4px rgba(117, 109, 117, 1);
  box-shadow: 7px 3px 5px -4px rgba(117, 109, 117, 1);
  width: 29%;
  margin: 15px;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: relative;

}

.card:hover {
  background-color: #ffffff;
  transform: scale(1.2);
  border: 1px solid gainsboro;
  z-index: 1;
}

.card--gradient-1 {
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0px 0px;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.card--gradient-2 {
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0px 0px;
  background: rgb(34, 193, 195);
  background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.card__title {
  text-align: center;
  padding: 14px 14px 0px 14px;
}

.card__title::after {
  content: '';
  width: 80px;
  height: 2px;
  background-color: hsl(181deg 99% 34%);
  display: block;
  margin-top: 12px;
  margin: 12px auto;
}

.card__img {
  height: 190px;
  margin: 0px auto;
}

.card__img img {
  border-radius: 12px 12px 0px 0px;

}

.card__avatar>img {
  width: 190px;
  height: 190px;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
}

.card__avatar {
  margin-bottom: 30%;
}

.content-7 .card__img {
  border-bottom: 2px solid #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
}

.card__text p {
  font-size: 14px;
  padding: 0px 14px 14px 14px;
}

.card__text i {
  font-size: 18px;
  padding: 14px;
}

.fa-quote-right {
  float: right;
}

.content-wrapper .content__title p {
  font-size: 17px;
  font-family: AvoBold;
  color: hsl(181deg 99% 34%);
}

.content__text a {
  font-family: Avo;
}

.form--main {
  width: 100%;
  justify-content: center;
}

.form__row {
  display: flex;
  justify-content: center;

}

.input__wrapper {
  display: flex;
  border-radius: 3px;
  background-color: rgba(223, 219, 219, 0.568);
}

.input__wrapper i {
  text-align: center;
  padding: 10px;
  color: gray;
}

.input__wrapper>input:focus {
  border: none;
  padding: 15px 15px 4px 15px;
  border-bottom: 3px solid hsl(181deg 99% 34%);
  transition: .2s ease;
}

.input__wrapper>textarea:focus {
  border: none;
  padding: 15px 15px 4px 15px;
  border-top: 3px solid hsl(181deg 99% 34%);
  transition: .2s ease;
}

.form__col {
  margin: 15px 5px 15px 0px;
  width: 100%;
}

.form__col input {
  background-color: transparent;
  height: 40px;
  width: 100%;
  font-size: 16px;
  font-style: italic;
  border: none;
  outline: none;
  padding: 15px 5px 15px 5px;
  transition: .2s ease-in;
  font-family: Lora;
}

.form__col textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 150px;
  padding: 15px 5px 15px 5px;
  font-size: 16px;
  background-color: transparent;
  font-style: italic;
  font-family: Lora;

}

.form__col select,
option {
  height: 40px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  font-style: italic;
  font-family: Lora;
}

.form__col select option {
  padding: 15px;
}

.form__col--center {
  text-align: center;
}

.form__col-3 {
  width: 30%;
  padding: 0 15px;
}

.btn--submit {
  border: none;
  font-size: 16px;
  padding: 10px 35px;
  font-family: Lora;
  background-color: hsl(181deg 99% 34%);
  color: #ffffff;
  border-radius: 3px;
  outline: none;
  height: 40px;
  cursor: pointer;
}

.btn--submit:hover {
  color: hsl(181deg 99% 34%);
  border: 2px solid hsl(181deg 99% 34%);
  background-color: transparent;
}

/* .form__col input:focus {
  border: none;
  padding: 15px 15px 4px 15px;
  border-bottom: 3px solid hsl(181deg 99% 34%);
} */
@media screen and (max-width: 1024px) {
  .content {
    width: 97%;
  }
}

@media screen and (max-width: 992px) {
  .content {
    width: 90%;
  }

  .header {
    margin: 0 auto;
  }

  .header p {
    width: 90%;
  }

  .header p {
    font-size: 30px;
    letter-spacing: normal;
  }

  .header p::after {
    height: 3px;
  }

  .header img {
    width: 25px;
  }

  .content-3 {
    width: 100%;
  }

  .content-5 {
    width: 100%;
  }

  .card {
    width: 40%;
  }

  .form__col {
    width: 100%;

  }
}

@media screen and (max-width: 600px) {

  a,
  p {
    font-size: 14px;

  }

  li {
    padding: 0;
    margin: 0;
  }

  .card {
    margin: 4px;
  }

  .form__row {
    flex-wrap: wrap;
  }

  .form__col {
    width: 100%;
    margin: 15px 0px;

  }


}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
  }

  .card__title {
    padding: 0;
  }

  .content-5 {
    width: 90%;
  }

  .card:hover {
    transform: none;
    border: none;
  }
  .table--main {
    max-width: 400px;
  }

}