* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
    border-bottom: 3px solid hsl(181, 99%, 34%);
}
.logo {
  width: 230px;
  height: 120px;
  background-color: hsl(181, 99%, 34%);
  float: left;
}
.bar {
}
.top-bar {
  background-color: gainsboro;
}
.top-bar__right--wrapper {
  float: left;
  overflow: hidden;
}

.top-bar__left--wrapper {
  overflow: hidden;
  height: 40px;
}
.top-bar__right {
  text-align: center;
}
.top-bar__right > li {
  float: left;
  list-style-type: none;
  border-right: 1px solid gray;
  padding: 0 18px;
  line-height: 40px;
}
.top-bar__left > li {
    float: right;
    list-style-type: none;
    border-left: 1px solid gray;
    padding: 0 18px;
    line-height: 40px;
}
.main-bar {
  position: relative;
}
.main-bar__list {
  width: fit-content;
  overflow: hidden;
  border: 2px solid white;
}
.main-bar__list > li {
  margin: 5px;
  text-align: center;
  float: left;
  font-size: 14px;
  list-style-type: none;
}

.list__item p{
    margin-top: 10px;
    
}
.list__item > a {
    color: gray;
    text-transform: uppercase;
    font-weight: bold; 
    text-decoration: none;
}
.main-bar--right {
  float: left;
  position: absolute;
  right: 0;
  top: 0;
}

