.slide-notifi {
  position: relative;
}

.fade {
  animation-name: fade;
  animation-duration: 1.6s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}.slideshows {
  position: relative;
}
.slide > img {
  width: 100%;
  height: 100%;
}
.slide-circle {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
}
.slide-circle > .fa {
  font-size: 15px;
  border-radius: 50%;
  background-color: gray;
  color: gray;
}
.slide-circle > .fa:hover {
  border-radius: 50%;
  border: 2px solid gray;
  background-color: gray;
  color: #d3e4e4;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 50px;
  padding: 5px;
  transition: 0.6s ease;
  background-color: rgba(31, 27, 27, 0.5);
}
.prev {
  border-radius: 5px 15px 15px 0px;
  left: 0;
}
.next {
  right: 0;
  border-radius: 15px 5px 5px 15px;
}
.prev:hover {
  background-color: black;
  color: #fff;
}
.next:hover {
  background-color: black;
  color: #fff;
}
.slide-circle .active {
  border-radius: 50%;
  border: 5px solid gray;
  background-color: white;
  color: white;
}
.notification {
  display: block;
  width: 980px;
  height: 340px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.header {
  font-size: 26px;
  text-transform: uppercase;
  color: hsl(196, 80%, 40%);
  text-align: center;
  line-height: 36.4px;
  font-family: "AvoBold";
  margin: 10px 0px;
  padding: 15px 0 25px;
}
.header div {
  width: 469px;
  height: 58px;
  border: 1px dashed black;
  background-color: hsl(210, 5%, 93%);
  margin: 5px 10px;
  padding: 10px;
  display: block;
}
.notifi__header {
  margin: 10px 80px;
  padding: 2px;
  background-color: white;
  border: 1px solid hsl(210, 5%, 93%);
}
.notifi-container {
  height: 100%;
  width: 653px;
  background-color: #16c0c3;
  overflow: hidden;
  float: left;
}
.notifi__content {
  height: 100%;
  padding: 32px 32px 45px 32px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
}
.notifi__content > ul {
  list-style: inside;
}

.notifi__calender {
  width: 327px;
  height: 340px;
  float: right;
  padding: 15px;
  background-color: hsl(181, 100%, 34%);
}

.calender--wrapper {
  height: 100%;
  padding: 25px;
  background-image: url(/images/lichnamhoc.png);
  background-repeat: no-repeat;
  background-position: center;
}

.table--calender {
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  color: white;
}

.table--calender th,
td {
  padding: 5px;
}
/*-------------- Event */
.event {
  background: url(/images/backgroud/bg_2.jpg) center no-repeat;
}
.event__header {
  width: 980px;
  background-color: hsl(181, 100%, 34%);
  color: white;
  text-align: center;
  padding: 22px;
  margin: 0 auto;
  position: relative;
}
.event__header::before {
  content: " ";
  width: 200px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 15%;
  top: 50%;
}
.event__header::after {
  content: " ";
  width: 200px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 15%;
  top: 50%;
}
.event__icon {
  width: 980px;
  font-size: 26px;
  background-color: whitesmoke;
  text-align: center;
  margin: 0 auto;
}
.event__icon > i {
  margin: 8px;
  color: white;
  background-color: hsl(196, 80%, 40%);
  border-radius: 50%;
  padding: 15px;
}
.event__list {
  display: flex;
  flex-flow: row wrap;
  margin: 20px auto;
  justify-content: center;
}
.card {
  margin: 0px 15px;
}
.card h3{
  font-style: italic;
  font-family: "UTMAmericana";
 
}
.card--event {
  background-color: #8080803b;
  float: left;
  border-radius: 15px;
}
.event__content {
  width: 216px;
  padding: 0px 15px 150px;
}
.event__content > h3 {
  margin: 24px 0px 12px;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}
.event__time {
  height: 106px;
  background-color: hsl(196, 80%, 40%);
  text-align: center;
  padding: 5px;
  border-radius: 0px 0px 15px 15px;

}
.time__text {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
.time__circle {
  border: 3px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: white;
  position: relative;
  left: 50%;
  padding: 0;
  transform: translate(-50%, 0);
}
/*------New------*/
.new {
  height: 619px;
  background-color: #d3e4e4;
  position: relative;
}
.new__title {
  padding-top: 4px;
  margin: 0;
  line-height: 22.4px;
}
.new__warraper {
  
  position: absolute;
  padding-bottom: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 8px dashed black;
  outline: 14px solid hsl(196, 80%, 40%);
}
.header__wrapper {
  text-align: center;
  padding: 15px 0;
}
.new--header {
  display: inline;
  border: 1px dashed hsl(196, 80%, 40%);
  padding: 0px 15px;
  border-radius: 5px;

}

.new__slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.new__content {
  width: 350px;
  height: 75px;
  padding: 0px 50px 0px 25px;
  float: left;
}
.new__title {
  font-size: 16px;
  text-align: left;
}
.new__title a {
  text-decoration: none;
  color: rgb(18, 103, 155);
  font-family: "AvoBold";
  font-weight: 500;
  line-height: 2.4px;
}


.new__slides > .slide-circle-2 {
  color: black;
}
.circle-wrapper {
  bottom: 5px;
  left: 50%;
  position: absolute;
  width: 100%;
}
.slide-circle-2 > i {
  background-color: #16c0c3;
  border: 2px solid #16c0c3;
  border-radius: 50%;
  color: #16c0c3;
  transition: all 0.6s ease;
}
.slide-circle-2 > i:hover {
  color: transparent;
  background-color: transparent;
}
.slide-circle-2 .active {
  color: transparent;
  background-color: transparent;
}

.read-more > a {
  float: right;
  font-weight: bold;
  color: red;
  text-decoration: none;
}
.new__img {
  width: 100%;
}
.new__img img {
  float: right;
  width: 50%;
  height: 50%;
}
.top-student {
  width: 100%;
}
.top-student__header {
  padding: 30px 0;
}

.card-list {
  height: 100%;
  display: flex;
  justify-content: center;
  border-top: 80px solid hsl(196, 80%, 40%);
}

.card--top-student {
  top: 50px;
  width: fit-content;
  padding: 30px;
  background-color: white;
  transition: all 0.5s ease-in;
  box-shadow: 5px 5px 10px 0px rgba(66, 66, 66, 0.75);
}
.card--top-student:hover {
  transform: scale(1.2);
}

.top-student__wrapper {
  background-size: cover;
  background: url(/images/backgroud/bg_4.jpg) center no-repeat;
}
.bangvang-quote {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-family: "UTMAmericana" !important;
  font-size: 18px;
  font-style: italic;
}
.bangvang-quote > span {
  font-family: "UTMAmericana" !important;
  font-weight: bold;
  font-style: normal;
}

.card__wrapper {
  width: 810px;
  height: 420px;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
}
.card--docngam div > p {
  font-family: "UTMAmericana";
  font-style: italic;
}
.card--docngam a {
  font-family: "UTMAmericana";
  font-style: italic;
}
.card--docngam {
  position: relative;
  padding: 0px 120px 0px 0px;
}
.card--docngam:hover {
  background-color: #fff;
}
.card-title {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

.text-wrapper {
  width: 280px;
  height: 120px;
  padding: 15px;
  margin: 0px 0px 12px;
  font-size: 15px;
}
.card--left,
.card--right {
  background-color: #e1e6e63a;
  float: left;
  border: 5px solid #16c0c3;
}
.card--right {
  top: -15%;
  right: 5%;
  float: right;
  padding: 0px 0px 0px 120px;
}

.img__docngam {
  bottom: 70%;
  right: 0;
  position: absolute;
}
.header--docngam {
  margin: 0px 150px;
  border-top: 2px dashed #16c0c3;
}
.card--right > .img__docngam {
  top: 70%;
  left: 0;
}
.img__docngam > img {
  border: 5px solid white;
  margin: 5px;
}

.card--right > .card-tex {
  left: -50%;
}

.card__wrapper .read-more > a {
  color: #16c0c3;
  padding: 15px;
}
.card-text > .read-more {
  font-size: 13px;
}

.carousels {
  display: flex;
  margin-top: 150px;
}
.card--carousel {
  margin: 2px;
  justify-content: center;
  overflow: hidden;
}

.card--carousel > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .notification {
    width: 100%;
    position: relative;
  }
  .notifi-container {
    width: 100%;
  }
  .notifi__header div {
    width: auto;
  }
  .event__header {
    width: auto;
  }
  .event__icon {
    width: auto;
  }
  .notifi__calender {
    display: none;
  }
  .event__list {
    width: auto;
  }
  .new__warraper {
    outline: none;
    width: 100%;
  }
  .new__slides {
    width: 100%;
    height: 340px;
  }
  .card-list {
    display: block;
  }
  .card__wrapper{
    width: fit-content;
  }
  .card--event {
    float: none;
  }
  .card{
    margin:15px auto;
  }
  .carousels {
    
    display: flex;
    flex-flow: row wrap;

  }
  .prev, .next {
    display: none;
  }
  .slide-circle {
    top:80%;
  
  }
 
}
@media screen and (max-width: 600px) {
  .footer--wrapper{
    display: block;
  }
  
  .event__header::after {
    width: 50px;
  }
  .event__header::before {
    width: 50px;
  }
  .card--event{
    float: none;
  }
  .card--docngam {
    position: static;
    width: fit-content;
    padding: 0;
  }
  
 .img__docngam {
   display: none;
   
  }
  .header--docngam {
    margin:0;
    float: none;
  }
  
  .new__img img {
    display: none;
  }
  .card--right {
    right: 0;
  }
  .header {
    font-size: 20px;
    padding: 5px;
  }
  .notifi__content {
    font-size: 12px;
    line-height: normal;

  }
  
 
}
